{% extends "../layout/app.html" %}
{% block yield %}
  {% if errors %}
    {% for error, message in errors %}
      <font style="color: red;">{{ message }}</font><br>
    {% end %}
  {% end %}
  <h1>Login</h1>
  <form action="/home" method="POST">
    {% module xsrf_form_html() %}
    <label>Email:</label><br>
    <input type="text" name="email"><br>
    <label>Password:</label><br>
    <input type="password" name="password"><br>
    <br>
    <input type="submit" name="submit">
  </form>
  </br>
  <a href="/home">Back</a>
{% end %}