<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    {% block head %}{% end %}
    <style type="text/css">
      body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    {% block yield %}
    {% end %}
    <script type="text/javascript">
      function confirm(params) {
        var r = confirm("Are you sure?");
        if (r == true) {
          return true;
        } else {
          return false;
        }
      }
    </script>
  </body>
</html>
